@import url('./__text/header__text.css');


.header {
    height: 88px;
    background-color: #040440;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__button {
     margin-right: 84px;
}
.header__menu {
    margin-left: 430px;
}